body {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    background-color: snow;
}

.main-nav {
    left: 0;
    top: 0;
    width: 100vw;
    display: flex;
    position: relative;
    background: rgb(86, 184, 186);
    box-shadow: 3px 2px 10px rgb(173, 250, 246);
    overflow: hidden;
    text-align: center;
    justify-content: center;
}

.navigation {
    list-style: none;
    display: flex;
    position: relative;
}

a {
    text-decoration: none;
}

.nav-list {
    list-style: none;
    padding: 10px 15px;
    color: #333;
}

.nav-list:active,
.nav-list:focus,
.nav-list:hover,
.nav-list:link {
    color: #FFF;
}

h2 {
    text-align: center;
    color: rgb(86, 184, 186);
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-size: 3rem;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
}

.supplies {
    width: 20vw;
    height: 20vw;
    border: 1px solid #888;
    box-shadow: 2px 3px 10px #888;
    margin-left: 5vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    overflow: hidden;
}

.supply {
    width: 20vw;
    height: 20vw;
}

.hidden {
    visibility: hidden;
}


/* drag */

.draggable {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
}

#div1,
#div2 {
    float: left;
    width: 20vw;
    height: 20vh;
    margin: 3vh;
    padding-top: 2vh;
    border: 1px solid #333;
    box-shadow: 3px 2px 10px #333;
    text-align: center;
    align-items: center;
}

#drag1,
#drag2,
#drag3,
#drag4,
#drag5,
#drag6,
#drag7,
#drag8,
#drag9,
#drag10,
#drag11,
#drag12,
#drag13 {
    width: 15vw;
    height: 20vh;
}


/* Memory */

.wrap {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.memory {
    flex-basis: 15%;
    flex-grow: 1;
    height: 33.33vh;
    border: 4px solid #fff;
    background-color: #000;
}

@media (orientation: portrait) {
    .memory {
        height: 16.66vh;
        flex-basis: 30%;
    }
}

.red {
    background: url(images/1.png) center no-repeat;
}

.blue {
    background: url(images/2.png) center no-repeat;
}

.yellow {
    background: url(images/3.png) center no-repeat;
}

.green {
    background: url(images/4.png) center no-repeat;
}

.brown {
    background: url(images/5.png) center no-repeat;
}

.gray {
    background: url(images/6.png) center no-repeat;
}

.lightgreen {
    background: url(images/7.png) center no-repeat;
}

.cadetblue {
    background: url(images/8.png) center no-repeat;
}

.violet {
    background: url(images/9.png) center no-repeat;
}

.hid {
    background: linear-gradient( rgb(86, 184, 186), rgb(173, 250, 246), rgb(173, 250, 233));
}

.off {
    background: #eee;
}